body {
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#head ul {
    list-style: none;
    float: right;
}

#head ul a,
#right-content a {
    text-decoration: none;
    color: #222;
}

#head ul a:hover {
    text-decoration: underline;
    color: rgb(92, 44, 151);
}

#head ul li {
    display: inline-block;
    padding-left: 5px;
}

#square {
    width: 23px;
    margin: 3px;
}

#square img {
    width: 100%;
    margin-bottom: -6px;
    opacity: 50%;
}

#sign-in {
    height: 30px;
    color: #fff;
    background-color: #4285f4;
    border: 1px solid #4285f4;
    border-radius: 2px;
}

#head {
    margin-right: 3%;
}

#logo {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#logo img {
    width: 90%;
}

#fullpage {
    position: absolute;
    width: 100%;
}

#container {
    width: 90%;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    width: 10%;
    max-width: 25px;
    opacity: 50%;
}

.icon-2 {
    width: 10%;
    height: 80%;
    max-width: 22px;
}

#search {
    width: 45%;
    border: 1px solid #eee;
    padding: 9px;
    border-radius: 19px;
    display: flex;
    flex: 1;
    padding: 5px 8px 5px 16px;
    height: 10%;
    max-height: 44px;
    margin-left: auto;
    margin-right: auto;
}

#search input {
    border: none;
    width: 90%;
    background-color: transparent;
    margin: 2px 9px;
    padding: 0;
    color: rgba(0, 0, 0, .87);
}

#seach input:active,
#seach input:hover {
    background-color: transparent;
    border: none;
}

#button-search {
    text-align: center;
}

#button-search button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    display: inline;
}

p {
    text-align: center;
    word-wrap: wrap break-word;
    margin-left: auto;
    margin-right: auto;
}

#left-content {
    margin: 9px;
    text-align: left;
    padding: 9px;
}

footer {
    background-color: rgb(242, 242, 242);
    color: #5f6368;
    position: absolute;
    width: 100%;
}

#right-content a {
    text-decoration: none;
    color: #5f6368;
    margin: 9px;
    text-align: left;
    padding: 2px 9px;
    display: inline-block;
}

#right-content ul {
    list-style: none;
    float: right;
}

#right-content ul li {
    display: inline-block;
}

#space {
    height: 30vh;
}